@tailwind base;
@tailwind components;
@tailwind utilities;

.lets-start-button {
  clip-path: polygon(
    84.365% 0%,
    8.333% 0%,
    8.333% 0%,
    6.982% 0.385%,
    5.699% 1.499%,
    4.504% 3.283%,
    3.412% 5.675%,
    2.441% 8.615%,
    1.608% 12.042%,
    0.93% 15.895%,
    0.425% 20.115%,
    0.109% 24.641%,
    0% 29.412%,
    0% 66.566%,
    0% 66.566%,
    0.059% 70.073%,
    0.233% 73.482%,
    0.517% 76.763%,
    0.903% 79.886%,
    1.389% 82.822%,
    1.966% 85.541%,
    2.631% 88.014%,
    3.377% 90.212%,
    4.199% 92.104%,
    5.091% 93.661%,
    7.79% 97.683%,
    7.79% 97.683%,
    8.1% 98.12%,
    8.415% 98.511%,
    8.733% 98.858%,
    9.054% 99.159%,
    9.378% 99.415%,
    9.705% 99.625%,
    10.035% 99.789%,
    10.366% 99.906%,
    10.699% 99.976%,
    11.032% 100%,
    91.667% 100%,
    91.667% 100%,
    93.018% 99.615%,
    94.301% 98.501%,
    95.496% 96.717%,
    96.588% 94.325%,
    97.559% 91.385%,
    98.392% 87.958%,
    99.07% 84.105%,
    99.575% 79.885%,
    99.891% 75.359%,
    100% 70.588%,
    100% 37.925%,
    100% 37.925%,
    99.932% 34.168%,
    99.733% 30.531%,
    99.41% 27.05%,
    98.97% 23.76%,
    98.421% 20.696%,
    97.769% 17.894%,
    97.022% 15.388%,
    96.187% 13.213%,
    95.271% 11.405%,
    94.281% 9.998%,
    86.979% 1.484%,
    86.979% 1.484%,
    86.725% 1.204%,
    86.468% 0.952%,
    86.21% 0.73%,
    85.95% 0.537%,
    85.689% 0.373%,
    85.426% 0.239%,
    85.162% 0.135%,
    84.897% 0.06%,
    84.631% 0.015%,
    84.365% 0%
  );
}
.utility-card {
  clip-path: polygon(
    81.343% 0%,
    6.873% 0%,
    6.873% 0%,
    5.758% 0.053%,
    4.701% 0.208%,
    3.714% 0.456%,
    2.814% 0.788%,
    2.013% 1.195%,
    1.326% 1.671%,
    0.767% 2.206%,
    0.35% 2.792%,
    0.09% 3.42%,
    0% 4.082%,
    0% 85.29%,
    0% 85.29%,
    0.005% 85.445%,
    0.02% 85.599%,
    0.044% 85.753%,
    0.079% 85.906%,
    0.123% 86.058%,
    0.176% 86.209%,
    0.24% 86.359%,
    0.313% 86.507%,
    0.395% 86.654%,
    0.487% 86.799%,
    7.605% 97.427%,
    7.605% 97.427%,
    7.961% 97.876%,
    8.399% 98.291%,
    8.912% 98.668%,
    9.492% 99.004%,
    10.133% 99.296%,
    10.827% 99.542%,
    11.567% 99.738%,
    12.346% 99.882%,
    13.157% 99.97%,
    13.992% 100%,
    92.955% 100%,
    92.955% 100%,
    94.07% 99.947%,
    95.128% 99.792%,
    96.114% 99.544%,
    97.014% 99.212%,
    97.815% 98.805%,
    98.502% 98.329%,
    99.061% 97.794%,
    99.478% 97.209%,
    99.738% 96.58%,
    99.828% 95.918%,
    99.828% 17.645%,
    99.828% 17.645%,
    99.821% 17.452%,
    99.798% 17.26%,
    99.76% 17.07%,
    99.707% 16.881%,
    99.639% 16.694%,
    99.557% 16.508%,
    99.459% 16.326%,
    99.348% 16.146%,
    99.222% 15.969%,
    99.082% 15.795%,
    87.469% 2.232%,
    87.469% 2.232%,
    87.083% 1.836%,
    86.63% 1.474%,
    86.118% 1.146%,
    85.551% 0.855%,
    84.936% 0.602%,
    84.279% 0.391%,
    83.585% 0.223%,
    82.861% 0.101%,
    82.111% 0.026%,
    81.343% 0%
  );
  box-shadow: #d71f27;
}
.bird-nest {
  width: 110px;
  height: 60px;
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: white;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px 5px #5df7a4;
}
.bird-nest-text {
  text-shadow: 0 0 10px #5df7a4;
}
.no-text-shadow {
  text-shadow: 0 0 0 #5df7a4;
}
.gradient-card {
  background: radial-gradient(circle, rgb(255, 255, 255), rgba(255, 0, 0, 0)),
    linear-gradient(
      30deg,
      rgba(247, 0, 255, 0.8) 10%,
      rgba(0, 255, 17, 0.65),
      rgba(0, 179, 255, 0.65),
      rgba(255, 255, 255, 0.65),
      rgba(0, 179, 255, 0.65),
      rgba(0, 255, 17, 0.65),
      rgba(247, 0, 255, 0.65)
    ),
    linear-gradient(
      315deg,
      rgba(247, 0, 255, 50%),
      rgba(0, 255, 17, 0.5),
      rgba(0, 179, 255, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(0, 179, 255, 0.5),
      rgba(0, 255, 17, 0.5),
      rgba(247, 0, 255, 0.5)
    ),
    linear-gradient(45deg, rgba(0, 255, 255, 0.3), rgba(255, 0, 255, 0.3)),
    linear-gradient(60deg, rgba(255, 165, 0, 0.3), rgba(128, 0, 128, 0.3));
  background-blend-mode: color-dodge;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 5px, white;
}
.bg-blue-sky {
  background-image: url("./assets//images/sky.png");
  background-repeat: repeat;
  background-size: cover;
}
.sky-bg {
  background-image: url("../src/assets/images/sky.png");
}
.light-sky-bg {
  background-image: url("../src/assets/images/another-sky.png");
}
.team-card {
  background: radial-gradient(circle, rgb(255, 255, 255), rgba(255, 0, 0, 0)),
    linear-gradient(
      30deg,
      rgba(247, 0, 255, 0.8) 15%,
      rgba(0, 255, 17, 0.9),
      rgba(128, 0, 255, 0.9),
      rgba(255, 255, 255, 0.65),
      rgba(0, 179, 255, 0.9),
      rgba(0, 255, 17, 0.9),
      rgba(247, 0, 255, 0.9)
    ),
    linear-gradient(
      315deg,
      rgba(247, 0, 255, 100%) 10%,
      rgba(0, 255, 17, 0.5),
      rgba(0, 179, 255, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(0, 179, 255, 0.5),
      rgba(0, 255, 17, 0.5),
      rgba(247, 0, 255, 0.5)
    ),
    linear-gradient(45deg, rgba(0, 255, 255, 0.3), rgba(255, 0, 255, 0.3)),
    linear-gradient(60deg, rgba(255, 165, 0, 0.3), rgba(128, 0, 128, 0.3));
  background-blend-mode: screen;
  box-shadow: 0 0 5px 5px #afcdf9;
  border-radius: 50%;
}

.stake-card {
  clip-path: polygon(
    83.204% 0%,
    7.874% 0%,
    7.874% 0%,
    6.597% 0.17%,
    5.385% 0.662%,
    4.255% 1.45%,
    3.224% 2.506%,
    2.306% 3.804%,
    1.519% 5.317%,
    0.879% 7.019%,
    0.401% 8.882%,
    0.103% 10.88%,
    0% 12.987%,
    0% 80.304%,
    0% 80.304%,
    0.028% 81.4%,
    0.111% 82.48%,
    0.248% 83.54%,
    0.438% 84.573%,
    0.678% 85.576%,
    0.968% 86.542%,
    1.306% 87.467%,
    1.691% 88.345%,
    2.121% 89.171%,
    2.595% 89.94%,
    7.096% 96.649%,
    7.096% 96.649%,
    7.543% 97.267%,
    8.014% 97.826%,
    8.506% 98.324%,
    9.018% 98.76%,
    9.547% 99.133%,
    10.091% 99.442%,
    10.648% 99.684%,
    11.216% 99.859%,
    11.793% 99.964%,
    12.375% 100%,
    92.126% 100%,
    92.126% 100%,
    93.403% 99.83%,
    94.615% 99.338%,
    95.745% 98.55%,
    96.776% 97.494%,
    97.694% 96.196%,
    98.481% 94.683%,
    99.121% 92.981%,
    99.599% 91.118%,
    99.897% 89.12%,
    100% 87.013%,
    100% 23.39%,
    100% 23.39%,
    99.963% 22.134%,
    99.854% 20.902%,
    99.676% 19.7%,
    99.429% 18.537%,
    99.118% 17.419%,
    98.745% 16.355%,
    98.311% 15.353%,
    97.819% 14.418%,
    97.272% 13.56%,
    96.671% 12.785%,
    87.749% 2.382%,
    87.749% 2.382%,
    87.343% 1.939%,
    86.922% 1.539%,
    86.489% 1.184%,
    86.044% 0.874%,
    85.588% 0.61%,
    85.124% 0.392%,
    84.652% 0.222%,
    84.174% 0.099%,
    83.691% 0.025%,
    83.204% 0%
  );
}

.participate-button {
  clip-path: polygon(
    85.706% 0%,
    4.32% 0%,
    4.32% 0%,
    3.619% 0.485%,
    2.954% 1.888%,
    2.335% 4.134%,
    1.769% 7.146%,
    1.265% 10.848%,
    0.833% 15.163%,
    0.482% 20.016%,
    0.22% 25.33%,
    0.057% 31.029%,
    0% 37.037%,
    0% 54.918%,
    0% 54.918%,
    0.044% 60.232%,
    0.174% 65.332%,
    0.382% 70.158%,
    0.664% 74.653%,
    1.014% 78.759%,
    1.426% 82.417%,
    1.894% 85.569%,
    2.413% 88.157%,
    2.977% 90.123%,
    3.58% 91.408%,
    8.978% 99.453%,
    8.978% 99.453%,
    9.051% 99.557%,
    9.125% 99.649%,
    9.198% 99.732%,
    9.272% 99.803%,
    9.346% 99.863%,
    9.42% 99.912%,
    9.495% 99.951%,
    9.569% 99.978%,
    9.643% 99.995%,
    9.718% 100%,
    95.68% 100%,
    95.68% 100%,
    96.381% 99.515%,
    97.046% 98.112%,
    97.666% 95.866%,
    98.232% 92.854%,
    98.735% 89.152%,
    99.167% 84.837%,
    99.518% 79.984%,
    99.78% 74.67%,
    99.943% 68.971%,
    100% 62.963%,
    100% 49.008%,
    100% 49.008%,
    99.953% 43.546%,
    99.817% 38.317%,
    99.597% 33.383%,
    99.301% 28.805%,
    98.934% 24.647%,
    98.503% 20.97%,
    98.014% 17.835%,
    97.473% 15.306%,
    96.887% 13.443%,
    96.262% 12.309%,
    85.706% 0%
  );
}
@font-face {
  font-family: "darumadrop";
  src: url("../src/assets/fonts/DarumaDropOne-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "dangrek";
  src: url("../src/assets/fonts/dangrek.ttf") format("opentype");
}

@media screen and (min-width: 400px) {
  .mascot {
    width: 100px;
  }
}

@media screen and (min-width: 450px) {
  .mascot {
    width: 120px;
  }
}

@media screen and (min-width: 500px) {
  .mascot {
    width: 140px;
  }
}

@media screen and (min-width: 550px) {
  .mascot {
    width: 150px;
  }
}
