@tailwind base;
@tailwind components;
@tailwind utilities;


.lets-start-button {
    clip-path: polygon( 84.365% 0%,8.333% 0%,8.333% 0%,6.982% 0.385%,5.699% 1.499%,4.504% 3.283%,3.412% 5.675%,2.441% 8.615%,1.608% 12.042%,0.93% 15.895%,0.425% 20.115%,0.109% 24.641%,0% 29.412%,0% 66.566%,0% 66.566%,0.059% 70.073%,0.233% 73.482%,0.517% 76.763%,0.903% 79.886%,1.389% 82.822%,1.966% 85.541%,2.631% 88.014%,3.377% 90.212%,4.199% 92.104%,5.091% 93.661%,7.79% 97.683%,7.79% 97.683%,8.1% 98.12%,8.415% 98.511%,8.733% 98.858%,9.054% 99.159%,9.378% 99.415%,9.705% 99.625%,10.035% 99.789%,10.366% 99.906%,10.699% 99.976%,11.032% 100%,91.667% 100%,91.667% 100%,93.018% 99.615%,94.301% 98.501%,95.496% 96.717%,96.588% 94.325%,97.559% 91.385%,98.392% 87.958%,99.07% 84.105%,99.575% 79.885%,99.891% 75.359%,100% 70.588%,100% 37.925%,100% 37.925%,99.932% 34.168%,99.733% 30.531%,99.41% 27.05%,98.97% 23.76%,98.421% 20.696%,97.769% 17.894%,97.022% 15.388%,96.187% 13.213%,95.271% 11.405%,94.281% 9.998%,86.979% 1.484%,86.979% 1.484%,86.725% 1.204%,86.468% 0.952%,86.21% 0.73%,85.95% 0.537%,85.689% 0.373%,85.426% 0.239%,85.162% 0.135%,84.897% 0.06%,84.631% 0.015%,84.365% 0% ); 
    /* box-shadow: 10px 10px #23FF88; */
}


@font-face {
    font-family: "darumadrop";
    src: url("../src/assets/fonts/DarumaDropOne-Regular.ttf") format("opentype");
  }

@media screen and (min-width: 400px) {
    .mascot {
      width: 100px;
    }
  }

  @media screen and (min-width: 450px) {
    .mascot {
      width: 120px;
    }
  }

  @media screen and (min-width: 500px) {
    .mascot {
      width: 140px;
    }
  }

  @media screen and (min-width: 550px) {
    .mascot {
      width: 150px;
    }
  }